<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="csrf-token" content="<%= csrfToken %>"/>
  <title><%= title %> | Admin</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
  <% if (process.env.NODE_ENV === 'production') { %>
      <link rel="stylesheet" href="/css/app.min.css?v=<%= Date.now() %>">
  <% } else { %>
      <%# Use getAssets('css') %>
      <% getAssets('css').forEach(style => { %>
          <link rel="stylesheet" href="/css/<%= style %>?v=<%= Date.now() %>">
      <% }) %>
  <% } %>
  
</head>